<%- include("header") -%>

<main class="productcard">
<div class="card9">
<div class="card__title">
<div class="icon">
  <a href="/"><i class="fa fa-arrow-left"></i></a>
</div>
<h3>New products</h3>
</div>
<div class="card__body row">
<div class="half col lg-4  col-sm-6">
  <div class="featured_text">
    <h1 class="heads"><%=heading%></h1>
    <p class="sub">Flat Machine Part</p>
    <p class="price" style="color:red;">Rs.<%=price%></p>
  </div>
  <div class="image">
    <img src="/uploads/<%=image%>" alt="">
  </div>
</div>
<div class="half  col-sm-6">
  <div class="description">
    <p style="color:#189AB4!important;"><%=description%></p>
  </div>
  <span class="stock"><i class="fa fa-pen"></i> In stock</span>
  <div class="reviews">
    <ul class="stars">
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star-o"></i></li>
    </ul>
    <span>(64 reviews)</span>
  </div>
</div>
</div>
<div class="card__footer">
<div class="recommend">
  <p>Recommended by</p>
  <h3>Andrew Palmer</h3>
</div>
<div class="action">
  <form action="/product/<%=heading%>" method="post">
    <div class="button">
      <input type="submit" value="Add to Cart">
    </div>
  </form>
</div>
</div>

</div>
</main>

<br>
<div class="reviewbox">


<form action="/reviews/<%=heading%>" class="mb-5" method="post" >
              <h3 class="heading mb-4">Post your Review</h3>


              <div class="row">
                <div class="col-md-12 form-group">
                  <textarea style="height:70px;" class="form-control" name="review" id="message" cols="30" rows="7" placeholder="Write your review"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12" >
                  <input style="background-color:orange;border:none;" type="submit" value="Post Review" class="btn btn-primary rounded-0 py-2 px-4">
                <span class="submitting"></span>
                </div>
              </div>
            </form>
            </div>
<div style="background-color:white">


<div class="reviewbox2"
style="position:relative; left:45%;">
  <h1 style="margin:auto; color:black;font-family: "Montserrat"">Reviews</h1>
  <br>
</div>

<div class="reviewbox">
  <%  docs.forEach((item) => { %>
    <h2 class="reviewerheading" style="color:orange; font-weight: 600;"># <%= item.reviewername %></h2>
        <p>  <%= item.review %> </p>
              <%  }); %>
</div>
<br>
<br>
</div>

<%- include("footer") -%>
